[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py-interactions = "*"
configparser = "*"
sqlalchemy = {extras = ["asyncio"] }
aiomysql = "*"
logging = "*"
xrpl-py = "*"

[dev-packages]

[requires]
python_version = "3.12"
